.upcoming-events-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
  margin: 20px;
}

.upcoming-events-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: burlywood;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.event-card p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.events-list p{
  text-align: center;
}

.event-card .event-poster {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 8px;
}